/* app/static/css/style.css */

body {
    background-color: #F8F3EA;
}

.banner-fundo {
    /* background-image: url('../img/banner.jpg');*/
    background-image: url('../img/slide.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 400px; /* Altura mínima */
}

header h2{
    font-size: 150px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-family: 'Great Vibes', cursive;
    display: flex;
    justify-content: center;
}

header p{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-family: 'Great Vibes', cursive;
    font-size: 2.5em;
}

.color {
    color: #fff;
}

.nosso-casamento {
    font-family: 'Playfair Display', serif;
    font-size: 2.5em;
    height: 100px;
    display: flex;
    justify-content: center;
    padding: 2rem;
    color: #000;
}

.info {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
    font-family: "Playfair Display", serif;
}

.info .col {
    flex: 1;
    margin-bottom: 1rem;
}

.historia {
    height: auto;
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.imagem-dois {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Certifique-se de que o elemento ocupa toda a largura disponível */
    overflow: hidden; /* Esconde qualquer conteúdo que exceda a largura */
}


.presentes {
    margin: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
}

.sobre-presentes {
    display: flex;
    align-items: center;
    flex: 1;
    margin-bottom: 1rem;
}

.img-presentes {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.img-presentes img {
    max-width: 100%;
    height: auto;
    margin-left: auto;
    display: block;
}

.gift-item {
    text-align: center;
    margin-bottom: 2rem;
}

.gift-image {
    width: 100%;
    height: auto;
    max-height: 200px; /* Ajuste conforme necessário */
    object-fit: cover;
    border-radius: 5px;
}

.botao-presentes {
    background-color: #B45200;
    color: #fff;
    margin-top: 2em;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.botao-presentes:hover {
    background-color: #944d00;
}

.texto-presentes {
    margin-top: 2em;
}

.convites {
    background-image: url('../img/img4.png');
    height: 500px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.texto-bonito {
    font-family: "Playfair Display", serif;
    font-weight: 5;
    font-size: 5em;
    font-style: normal;
}

.confirmacao {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.form-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 500px;
    width: 100%;
}

.modal-content {
    background-color: #fef8f2;
    border: 1px solid #8b4513;
}

.btn-ajudar, .btn-copy, .btn-primary {
    background-color: #f5a623;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-ajudar:hover, .btn-copy:hover, .btn-primary:hover {
    background-color: #e59400;
}

@media (min-width: 769px) and (max-width: 1024px) {
    .banner-fundo {
        min-height: 350px; /* Altura mínima para tablets */
    }

    header h2{
        font-size: 80px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
        font-family: 'Great Vibes', cursive;
    }
}
@media (max-width: 768px) {
    header h2{
        font-size: 80px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
        font-family: 'Great Vibes', cursive;
    }
    
    .form-container {
        padding: 15px;
    }

    .info, .presentes {
        flex-direction: column;
        align-items: center;
    }

    .info .col, .presentes .col {
        width: 100%;
        text-align: center;
    }

    .img-presentes {
        justify-content: center;
    }

    .img-presentes img {
        margin-left: 0;
    }

    .texto-bonito {
        font-size: 2.5em;
        text-align: center;
        padding: 1rem;
    }
    .banner-fundo {
        min-height: 300px; /* Altura mínima para telas menores */
    }

    .imagem-dois {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%; /* Certifique-se de que o elemento ocupa toda a largura disponível */
        overflow: hidden; /* Esconde qualquer conteúdo que exceda a largura */
    }
}

@media (max-width: 576px) {
    .nosso-casamento {
        padding: 1rem;
    }

    .info, .presentes {
        padding: 1rem;
    }

    .banner-fundo {
        height: auto;
    }

    .img-presentes img {
        width: 100%;
        height: auto;
    }

    .texto-bonito {
        font-size: 2em;
        text-align: center;
        padding: 0.5rem;
    }

    .convites {
        height: auto;
        padding: 2rem 1rem;
    }

    .botao-presentes {
        width: 100%;
    }
}
