<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administração</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Administração</a>
        </div>
    </nav>
    <div class="container text-center mt-5 pt-5">
        <h1>Painel de Administração</h1>
        <a href="{{ url_for('adicionar_presente') }}" class="btn btn-primary botao-presentes mt-3">Adicionar Presente</a>
        <a href="{{ url_for('ver_contribuicoes') }}" class="btn btn-primary botao-presentes mt-3">Ler Mensagens</a>
        <a href="{{ url_for('confirmacoes') }}" class="btn btn-primary botao-presentes mt-3">Lista de Confirmados</a>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
